<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/r.css">
    <title>Register</title>
</head>
<body>

<h1>Register</h1>
<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
    <% errors.forEach(error => { %>
        <p><%= error.msg %></p>
    <% }) %>
<% } %>

<form class="buttons"action="/users/register" method="POST">
    <input type="text" name="name" placeholder="Name" value="<%= typeof name !== 'undefined' ? name : '' %>">
    <input type="email" name="email" placeholder="Email" value="<%= typeof email !== 'undefined' ? email : '' %>">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="password2" placeholder="Confirm Password">
    <button type="submit">Register</button>
</form>

<a href="/">Back to Home</a>

<footer>
  Made with &hearts; in Philly | &copy; <a href="http://fsdevkd.com">FsDevKD</a>
</footer>


</body>
</html>
